<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Audit Report</title>
    <style>
      table {
        width: 100%;
        border-collapse: collapse;
      }
      th,
      td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>
    <h1>Audit Report</h1>

    <table>
      <thead>
        <tr>
          <th>S.No</th>
          <th>Field Name</th>
          <th>Previous Value</th>
          <th>New Value</th>
          <th>Previous State</th>
          <th>New State</th>
          <th>Perform</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% if (Array.isArray(auditTrail) && auditTrail.length > 0) { %> <%
        auditTrail.forEach(function(audit,index) { %>
        <tr>
          <td><%= index+1 %></td>
          <td><%= audit.field_name || 'N/A' %></td>
          <td><%= cleanedData[index].previous_value || 'N/A' %></td>
          <td><%= cleanedData[index].new_value || 'N/A' %></td>
          <td><%= audit.previous_status || 'N/A' %></td>
          <td><%= audit.new_status || 'N/A' %></td>
          <td>
           <b> Performed By:</b> <%= audit.User && audit.User.name ?
            audit.User.name : 'N/A' %> <br />
            <b> Performed On:</b> <%= new
            Date(audit.createdAt).toLocaleDateString('en-GB', { day:
            'numeric', month: 'long', year: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' }) %>
            <br />
            <b>Comments:</b>  <%= audit.comments || 'N/A' %>
          </td>
          <td><%= audit.action || 'N/A' %></td>
        </tr>
        <% }); %> <% } else { %>
        <tr>
          <td colspan="8">No audit trail data available.</td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
